bottleneck==1.3.7
brotli==1.0.9
fqdn==1.5.1
gmpy2==2.1.2
httpx==0.27.0
isoduration==20.11.0
jsonpointer==3.0.0
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
numexpr==2.8.4
pyarrow-hotfix==0.6
pysocks==1.7.1
torchaudio==2.0.0
triton==2.0.0
uri-template==1.3.0
volcengine-python-sdk==1.0.87
webcolors==24.6.0
xtuner==0.1.18
